@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Microsoft.AspNetCore.Identity;
@using FM_MyStat.Core.DTOs.UsersDTO.Student;
@using FM_MyStat.Core.Entities.Users;
@model List<StudentDTO>
@inject UserManager<AppUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    //var email = await UserManager.GetEmailAsync(user);
}
@{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

<style>
    .card-header{
        background: rgb(92,121,171);
        background: linear-gradient(38deg, rgba(92,121,171,1) 0%, rgba(52,79,126,1) 57%, rgba(39,39,99,1) 100%, rgba(32,48,76,1) 100%);
        color:white;
    }
    .card-footer{
        background: rgb(92,121,171);
        background: linear-gradient(38deg, rgba(92,121,171,1) 0%, rgba(52,79,126,1) 57%, rgba(39,39,99,1) 100%, rgba(32,48,76,1) 100%);
        color: white;
    }

    .button-28 {
        background-color: #fff;
        border: 0 solid #e2e8f0;
        border-radius: 30px;
        box-sizing: border-box;
        color: #0d172a;
        cursor: pointer;
        display: inline-block;
        font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1;
        padding: 10px 1.6rem;        
        text-align: center;
        text-decoration: none #0d172a solid;
        text-decoration-thickness: auto;
        transition: all .1s cubic-bezier(.4, 0, .2, 1);
        box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

        .button-28:hover {
            background-color: #1e293b;
            color: #fff;
        }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>All users</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Users</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">@item.FirstName @item.LastName</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text"><strong>Email:</strong> @item.Email</p>
                                <p class="card-text"><strong>FirstName:</strong> @item.FirstName</p>
                                <p class="card-text"><strong>SurName:</strong> @item.SurName</p>
                                <p class="card-text"><strong>LastName:</strong> @item.LastName</p>
                                <p class="card-text"><strong>EmailConfirmed:</strong> @item.EmailConfirmed</p>
                                <p class="card-text"><strong>LockedOut:</strong> @item.LockedOut</p>
                                <p class="card-text"><strong>PhoneNumber:</strong> @item.PhoneNumber</p>
                                <p class="card-text"><strong>Rating:</strong> @item.Rating</p>
                                <p class="card-text"><strong>Group:</strong> @item.Group</p>
                            </div>
                            <div class="card-footer">
                                <a asp-controller="Student" asp-action="Edit" asp-route-id="@item.Id" class="button-28">Edit</a>
                                <a asp-controller="Student" asp-action="Delete" asp-route-id="@item.Id" class="button-28">Delete</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>
<!-- /.content -->