@using FM_MyStat.Core.DTOs.HomeworksDTO.Homework;
@using FM_MyStat.Core.Entities.Users;
@using Microsoft.AspNetCore.Identity;
@model List<HomeworkDTO>
@inject UserManager<AppUser> UserManager
<link rel="stylesheet" href="~/dashboard/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/dashboard/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/dashboard/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="~/css/stulescards.css" />


@{
    var user = await UserManager.GetUserAsync(User);
    //var email = await UserManager.GetEmailAsync(user);
}

@if (User.IsInRole("Administrator"))
{
    ViewData["Title"] = "Homework";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
else if (User.IsInRole("Teacher"))
{
    ViewData["Title"] = "Homework";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
else
{
    ViewData["Title"] = "Homework";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>All Homeworks</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">@item.Title</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text"><strong>Description:</strong> @item.Description</p>
                                <p class="card-text"><strong>Group:</strong> @item.Group</p>
                                <p class="card-text"><strong>Lesson:</strong> @item.Lesson</p>
                            </div>
                            <div class="card-footer">
                                @if (User.IsInRole("Teacher"))
                                {
                                    <a asp-controller="HomeworkDone" asp-action="Homeinspection" asp-route-id="@item.Id" class="button-28">Home inspection</a>
                                }
                                <a asp-controller="Homework" asp-action="Update" asp-route-id="@item.Id" class="button-28">Edit</a>
                                <a asp-controller="Homework" asp-action="Delete" asp-route-id="@item.Id" class="button-28">Delete</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>