@using FM_MyStat.Core.DTOs.HomeworksDTO.Homework;
@using FM_MyStat.Core.Entities.Users;
@using Microsoft.AspNetCore.Identity;
@model List<HomeworkDTO>
@inject UserManager<AppUser> UserManager
<link rel="stylesheet" href="~/dashboard/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/dashboard/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/dashboard/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">


@{
    var user = await UserManager.GetUserAsync(User);
    //var email = await UserManager.GetEmailAsync(user);
}

@if (User.IsInRole("Administrator"))
{
    ViewData["Title"] = "Homework";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
else if (User.IsInRole("Teacher"))
{
    ViewData["Title"] = "Homework";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
else
{
    ViewData["Title"] = "Homework";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>All Homeworks</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">Homeworks</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Homeworks list with minimal information</h3>
                        </div>

                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Group</th>
                                        <th>Lesson</th>
                                        <th>PathFile</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Title</td>
                                            <td>@item.Description</td>
                                            <td>@item.Group</td>
                                            <td>@item.Lesson</td>
                                            <td>@item.PathFile</td>
                                            <td><a asp-controller="Homework" asp-action="Update" asp-route-id="@item.Id" class="btn btn-block btn-warning btn-sm">Edit</a></td>
                                            <td><a asp-controller="Homework" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-block btn-danger btn-sm">Delete</a></td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>