@using FM_MyStat.Core.DTOs.UsersDTO.Student;
@model List<StudentMarkDTO>;
@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}


<h2>Lesson Marks</h2>
<div class="content-wrapper">
    <div class="container">
        <div class="container-fluid">
            <tr>
                <form asp-controller="LessonMark" asp-action="SubmitMark" method="post">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Surname</th>
                                <th>Last Name</th>
                                <th>Mark</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>@Model[i].FirstName</td>
                                    <td>@Model[i].SurName</td>
                                    <td>@Model[i].LastName</td>
                                    <td>
                                        <select class="form-control" asp-for="@Model[i].Mark" name="@Model[@i].Mark">
                                            @for (int mark = 1; mark <= 12; mark++)
                                            {
                                                <option value="@mark">@mark</option>
                                            }
                                        </select>
                                        <input type="hidden" id="@Model[@i].LessonMarkId" name="@Model[@i].LessonMarkId" value="@Model[i].LessonMarkId" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </tr>
        </div>
    </div>
</div>