@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Microsoft.AspNetCore.Identity;
@using FM_MyStat.Core.DTOs.UsersDTO.Teacher;
@using FM_MyStat.Core.Entities.Users;
@model List<TeacherDTO>
@inject UserManager<AppUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    //var email = await UserManager.GetEmailAsync(user);
}
@{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="~/css/stulescards.css" />
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>All teachers</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">@item.LastName @item.FirstName @item.SurName</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text"><strong>Email:</strong> @item.Email</p>
                                <p class="card-text"><strong>EmailConfirmed:</strong> @item.EmailConfirmed</p>
                                <p class="card-text"><strong>LockedOut:</strong> @item.LockedOut</p>
                                <p class="card-text"><strong>PhoneNumber:</strong> @item.PhoneNumber</p>
                            </div>
                            <div class="card-footer">
                                <a asp-controller="Teacher" asp-action="Edit" asp-route-id="@item.Id" class="button-28">Edit</a>
                                <a asp-controller="Teacher" asp-action="Delete" asp-route-id="@item.Id" class="button-28">Delete</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>
<!-- /.content -->